*{margin: 0;
padding: 0;
box-sizing: border-box;}

body {height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #818C72;}

.BOX {width: 300px;
    height: 180px;
    background-color: #818C72;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    gap: 30px;}

.ball {width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;

    animation: bounce 0.7s ease-in-out infinite alternate;}

#mud {background-color: #3D2C20;}
#swamp {background-color: #27421F;
        animation-delay: 0.2s;}
#forest {background-color: #184F09;
        animation-delay: 0.4s;}

@keyframes bounce {from {top: 0px;}
                    to {top: -70px;}}