body {margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a24;}

.MOON {width: 200px;
    height: 200px;
    background-color: #000000;
    border-radius: 50%;
    position: relative;

    transform-style: preserve-3d;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);}

.SUN {width: 200px;
    height: 200px;
    background-color: #ffd700;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;

    box-shadow: 0 0 40px #ff8c00;

    animation: shift-and-move 4s infinite ease-in-out;}

@keyframes shift-and-move {
    0% {transform: translateZ(-1px) translateX(-250px) scale(0.4);
        opacity: 0.8;}
    50% {transform: translateZ(-1px) translateX(0px) scale(1.1);
        opacity: 1;
        box-shadow: 0 0 60px 20px #ff8c00; }
    100% {transform: translateZ(-1px) translateX(250px) scale(0.4);
        opacity: 0.8;}}