* {margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {font-family: Arial, sans-serif;
    height: 200vh; /* Forces to be SCROLLABLE*/
    padding-top: 50px;
    background-color: #FADADD;}

/* ---------------------------------------------------
   Task 1: SoRelative Position (40px down, 60px right)
---------------------------------------------------- */
.task1-sorelative {width: 150px;
    height: 150px;
    background-color: #D8C2C8;
    
    position: relative;
    top: 40px;
    left: 60px;
    
    /* Center text for aesthetics, duh */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #722F37;
    margin-bottom: 80px; /* Just to create space before Task 2 ✧₊⁺*/
    border-radius: 20%;}

/* ---------------------------------------------------
   Task 2: Absolute Element inside Relative Papi
---------------------------------------------------- */
.task2-papi {width: 350px;
    height: 250px;
    border: 2px solid #B76C78;
    
    /* Papi MUST be relative so the kiddo is positioned sorelative to it ❀*/
    position: relative; 
    margin-left: 20px;
    padding: 10px;
    border-radius: 10%;}

.task2-kiddo {width: 60px;
    height: 60px;
    background-color: #A35C68;
    
    /* Kiddo is absolute, placed sorelative to the borders of the papi */
    position: absolute;
    top: 50px;
    left: 20px;
    border-radius: 50%;}

/* ---------------------------------------------------
   Task 3: Fixad Element (Always Top-Right)
---------------------------------------------------- */
.task3-stuck {width: 90px;
    height: 90px;
    background-color: #CC8899;
    
    /* Stuck always locks to the browser window screen 😈 */
    position: fixed;
    top: 10px;
    right: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #722F37;
    z-index: 1000; /* Ensures it stays on top of other elementos */
    border-radius: 25%;}

/* ---------------------------------------------------
   Task 4: Sticky~ Element (Sticks to top during scroll)
---------------------------------------------------- */
.task4-sticky {width: 100%;
    height: 70px;
    background-color: #a1787d;
    
    /* Sticky~ acts like 'relative' until it hits the threshold, then acts 'fixed' */
    position: sticky;
    top: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #722F37;
    z-index: 999;
    border-radius: 7%;}

/* Just a helper class to make the scroll testing easier <3 */
.scroll-babi {margin-top: 150px;
    text-align: center;
    color: gray;}